src/main/java/wenyu/learning/SOAP/Service/ContractFirst/soapServiceEndpoint.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ContractFirst.Service.SOAP.learning.wenyu/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="SoapService" targetNamespace="http://ContractFirst.Service.SOAP.learning.wenyu/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://ContractFirst.Service.SOAP.learning.wenyu/"
			elementFormDefault="unqualified" targetNamespace="http://ContractFirst.Service.SOAP.learning.wenyu/"
			version="1.0">
			<xs:element name="MySOAPModel" type="tns:model" />
			<xs:element name="executeModel" type="tns:executeModel" />
			<xs:element name="executeModelResponse" type="tns:executeModelResponse" />
			<xs:element name="simpleExecute" type="tns:simpleExecute" />
			<xs:element name="simpleExecuteResponse" type="tns:simpleExecuteResponse" />
			<xs:complexType name="simpleExecute">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="simpleExecuteResponse">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="executeModel">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="tns:model" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="model">
				<xs:sequence>
					<xs:element minOccurs="0" name="modelName" type="xs:string" />
					<xs:element minOccurs="0" name="modelId" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="executeModelResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="executeModel">
		<wsdl:part element="tns:executeModel" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="executeModelResponse">
		<wsdl:part element="tns:executeModelResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="simpleExecuteResponse">
		<wsdl:part element="tns:simpleExecuteResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="simpleExecute">
		<wsdl:part element="tns:simpleExecute" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ISOAPService">
		<wsdl:operation name="simpleExecute">
			<wsdl:input message="tns:simpleExecute" name="simpleExecute">
			</wsdl:input>
			<wsdl:output message="tns:simpleExecuteResponse" name="simpleExecuteResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="executeModel">
			<wsdl:input message="tns:executeModel" name="executeModel">
			</wsdl:input>
			<wsdl:output message="tns:executeModelResponse" name="executeModelResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SoapServiceSoapBinding" type="tns:ISOAPService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="simpleExecute">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="simpleExecute">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="simpleExecuteResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="executeModel">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="executeModel">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="executeModelResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SoapService">
		<wsdl:port binding="tns:SoapServiceSoapBinding" name="SoapServicePort">
			<soap:address location="http://localhost:8080/CXFLearning/soapService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>